name: Check Pull Request
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  cache-and-install:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Cache data for pnpm and node_modules
        uses: actions/cache@v3
        with:
          path: |
            ~/.pnpm-store
            **/node_modules
          key: ${{ runner.os }}-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-

      - uses: pnpm/action-setup@v2.1.0
        with:
          version: 6.30.1
          run_install: true

  type-check:
    runs-on: ubuntu-latest
    needs:
      - cache-and-install
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Reusable Workflow for PNPM and NX
        uses: /.github/workflows/reusableWorkflowForPnpmAndNx.yml@main

      - name: type-check PR
        if: github.ref != 'refs/heads/main'
        run: npx nx affected --target=type-check --base=origin/main --head=HEAD --with-deps
      - name: type-check Main
        if: github.ref == 'refs/heads/main'
        run: npx nx affected --target=type-check --base=origin/main~1 --head=origin/main --with-deps

  lint:
    runs-on: ubuntu-latest
    needs:
      - cache-and-install
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Restore cache for pnpm and node_modules
        uses: actions/cache@v3
        with:
          path: |
            ~/.pnpm-store
            **/node_modules
          key: ${{ runner.os }}-${{ hashFiles('**/pnpm-lock.yaml') }}

      - uses: pnpm/action-setup@v2.1.0
        with:
          version: 6.30.1
          run_install: false

      - uses: nrwl/nx-set-shas@v2

      - name: Cache Nx
        uses: actions/cache@v3
        with:
          path: node_modules/.cache/nx
          key: cache-nx-${{ hashFiles('**/pnpm-lock.yaml') }}-lint-${{ github.sha }}
          restore-keys: |
            cache-nx-${{ hashFiles('**/pnpm-lock.yaml') }}-lint-
            cache-nx-${{ hashFiles('**/pnpm-lock.yaml') }}-

      - name: lint PR
        if: github.ref != 'refs/heads/main'
        run: npx nx affected --target=lint --base=origin/main --head=HEAD --with-deps
      - name: lint Main
        if: github.ref == 'refs/heads/main'
        run: npx nx affected --target=lint --base=origin/main~1 --head=origin/main --with-deps

  stylelint:
    runs-on: ubuntu-latest
    needs:
      - cache-and-install
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Restore cache for pnpm and node_modules
        uses: actions/cache@v3
        with:
          path: |
            ~/.pnpm-store
            **/node_modules
          key: ${{ runner.os }}-${{ hashFiles('**/pnpm-lock.yaml') }}

      - uses: pnpm/action-setup@v2.1.0
        with:
          version: 6.30.1
          run_install: false

      - uses: nrwl/nx-set-shas@v2

      - name: Cache Nx
        uses: actions/cache@v3
        with:
          path: node_modules/.cache/nx
          key: cache-nx-${{ hashFiles('**/pnpm-lock.yaml') }}-stylelint-${{ github.sha }}
          restore-keys: |
            cache-nx-${{ hashFiles('**/pnpm-lock.yaml') }}-stylelint-
            cache-nx-${{ hashFiles('**/pnpm-lock.yaml') }}-

      - name: stylelint PR
        if: github.ref != 'refs/heads/main'
        run: npx nx affected --target=stylelint --base=origin/main --head=HEAD --with-deps
      - name: stylelint Main
        if: github.ref == 'refs/heads/main'
        run: npx nx affected --target=stylelint --base=origin/main~1 --head=origin/main --with-deps

  test:
    runs-on: ubuntu-latest
    needs:
      - cache-and-install
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Restore cache for pnpm and node_modules
        uses: actions/cache@v3
        with:
          path: |
            ~/.pnpm-store
            **/node_modules
          key: ${{ runner.os }}-${{ hashFiles('**/pnpm-lock.yaml') }}

      - uses: pnpm/action-setup@v2.1.0
        with:
          version: 6.30.1
          run_install: false

      - uses: nrwl/nx-set-shas@v2

      - name: Cache Nx
        uses: actions/cache@v3
        with:
          path: node_modules/.cache/nx
          key: cache-nx-${{ hashFiles('**/pnpm-lock.yaml') }}-test-${{ github.sha }}
          restore-keys: |
            cache-nx-${{ hashFiles('**/pnpm-lock.yaml') }}-test-
            cache-nx-${{ hashFiles('**/pnpm-lock.yaml') }}-

      - name: test PR
        if: github.ref != 'refs/heads/main'
        run: npx nx affected --target=test --base=origin/main --head=HEAD --with-deps
      - name: test Main
        if: github.ref == 'refs/heads/main'
        run: npx nx affected --target=test --base=origin/main~1 --head=origin/main --with-deps
