name: Reusable Workflow for PNPM and NX

on:
  workflow_call:

jobs:
  main:
    name: Reusable Workflow for PNPM and NX
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Restore cache for pnpm and node_modules
        uses: actions/cache@v3
        with:
          path: |
            ~/.pnpm-store
            **/node_modules
          key: ${{ runner.os }}-${{ hashFiles('**/pnpm-lock.yaml') }}

      - uses: pnpm/action-setup@v2.1.0
        with:
          version: 6.30.1
          run_install: false

      - uses: nrwl/nx-set-shas@v2

      - name: Cache Nx
        uses: actions/cache@v3
        with:
          path: node_modules/.cache/nx
          key: cache-nx-${{ hashFiles('**/pnpm-lock.yaml') }}-type-check-${{ github.sha }}
          restore-keys: |
            cache-nx-${{ hashFiles('**/pnpm-lock.yaml') }}-type-check-
            cache-nx-${{ hashFiles('**/pnpm-lock.yaml') }}-
